<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Create Account</h2>

    <form method="POST">
        <input type="text" name="acc_no" placeholder="Account Number" required>
        <input type="text" name="name" placeholder="Name" required>
        <input type="number" step="0.01" name="balance" placeholder="Initial Balance" required>
        <button type="submit">Create</button>
    </form>

    <p>{{ message }}</p>
    <a href="/">Back to Home</a>
</body>
</html>
